.items-table {
  width: 100%;
  margin: 8px;
  padding: 8px 10px;
  overflow-wrap: break-word;
}

.item {
  width: 100px;
  display: inline-table;
}

.color-blue {
    background-color: blue;
}

.color-red {
    background-color: red;
}

.color-yellow {
    background-color: yellow;
}

.color-green {
    background-color: green;
}

.color-orange {
    background-color: orange;
}

.color-purple {
    background-color: purple;
}

.color-white {
    background-color: white;
}

.color-grey {
    background-color: grey;
}

.color-black {
    background-color: black;
}