<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>
        <title>AbstShop</title>
        <link rel="stylesheet" type="text/css" href="../static/css/test.css" th:href="@{/css/test.css}" />
    </head>
    
    <body>
        <h1 th:text="${customer.name}"></h1>
        
        <table>
        	<tbody>
        		<tr>
        			<a>Number of Credits: </a>
        			<a th:text="${customer.credits}">text</a>
        		</tr>
        	</tbody>
        </table>
    </body>
    
</html>